* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("绘画5.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}
.container .nav {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 20px;
  background-color: white;
}
.container .nav .logo {
  flex: 1;
  font-size: 50px;
  font-weight: lighter;
  padding-left: 50px;
  background-image: linear-gradient(to right, #6d8165, #a64938, #d5b524, #896e29);
  -webkit-background-clip: text;
  color: transparent;
}
.container .nav .linebox {
  display: none;
}
.container .nav .nav_content {
  flex: 1;
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  height: 40px;
}
.container .nav .nav_content li {
  position: relative;
  border: 2px solid transparent;
  line-height: 40px;
  transition: all 0.3s;
  cursor: default;
  background-image: linear-gradient(to bottom right, #6d8165, #a64938);
  -webkit-background-clip: text;
  color: transparent;
}
.container .nav .nav_content li::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color);
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 0;
  transition: all 0.3s;
}
.container .nav .nav_content li:hover {
  transform: scale(1.1);
  color: var(--color);
  font-weight: bold;
}
.container .nav .nav_content li:hover::before {
  top: 40px;
  opacity: 1;
}
@media screen and (max-width: 720px) {
  .container .nav .logo {
    padding-left: 20px;
  }
  .container .nav .linebox {
    display: block;
    position: absolute;
    right: 50px;
    top: 30px;
    width: 25px;
  }
  .container .nav .linebox div {
    width: 25px;
    height: 3px;
    background-color: rgba(109, 129, 101, 0.8);
    margin: 5px 0;
    transition: all 0.3s 0.2s;
  }
  .container .nav .nav_content {
    padding-top: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(175, 218, 199, 0.7);
    text-align: center;
    transform: translateX(100%);
    transition: all 0.3s 0.2s;
  }
  .container .nav .nav_content li {
    height: 50px;
    line-height: 50px;
    opacity: 0;
  }
  .open {
    transform: translateX(0) !important;
  }
  .active .firstline {
    transform: translateY(8px) rotate(45deg);
  }
  .active .endline {
    transform: translateY(-8px) rotate(-45deg);
  }
  .active .centerline {
    transition: all 0.3s;
    transform: translateX(100px);
  }
  @keyframes slidinto {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .slidout {
    animation: slidout 0.3s ease-out forwards;
  }
  @keyframes slidout {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
